*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/cardboard.jpg');
}

#navbar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    background-color: rgb(24, 24, 24);
}

#navbar a{
    text-decoration: none;
    color: white;
    border: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100%;
}


#content{
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    background-size: cover;
    align-items: center;
}

.textBox{
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.textBox h1{
    color: rgb(24, 24, 24);
    font-size: 100px;
}

.textBox p{
    font-size: 30px;
}

#footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border: 2px solid black;
    background-color: rgb(24, 24, 24);
}