#wrapper{
  height: 100%;
}

.content{
    width: 100%;
    height: 100%;
    padding: 20px;
}

#fuggBoxes{
    width: 100%;
    height: 100dvh;
    /*padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; 
    overflow-y: scroll;*/
    scrollbar-width: thin;              
    scrollbar-color: transparent transparent;
}

.fuggCategory, .fuggCategoryKey{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

/* Chrome, Edge, Safari */
.fuggCategory::-webkit-scrollbar, .fuggCategoryKey::-webkit-scrollbar {
  height: 8px;             /* horizontal scrollbar thickness */
}

.fuggCategory::-webkit-scrollbar-track, .fuggCategoryKey::-webkit-scrollbar-track {
  background: #eee;        /* scrollbar track color */
  border-radius: 10px;
}

.fuggCategory::-webkit-scrollbar-thumb, .fuggCategoryKey::-webkit-scrollbar-thumb {
  background: #888;        /* draggable part */
  border-radius: 10px;
}

.fuggCategory::-webkit-scrollbar-thumb:hover, .fuggCategoryKey::-webkit-scrollbar-thumb:hover {
  background: #555;        /* darker on hover */
}

/* Firefox */
.fuggCategory, .fuggCategoryKey {
  scrollbar-width: thin;   /* "auto" or "thin" */
  scrollbar-color: #888 transparent;
}

.fuggCategoryKey{
  flex-wrap: wrap;
}

.fuggBox {
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 55px;
    margin-bottom: 55px;
    min-width: 24%;
    flex: 1;
}

.fuggBox .img {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fuggBox .img img {
    max-width: 100%;
    max-height: 100%;
}

.fuggBox .desc {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}